body{
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    position: relative !important;
    background-color: black !important;
}

#testing{
    display: none !important;
}

/* heading wrapper styles */
.heading-wrapper{
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    text-align: center !important;
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}
h1{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 90px !important;
    opacity: 1 !important;
    position: relative !important;
    color: white !important;
    z-index: 1001 !important;
    text-align: center !important;
    cursor: default !important;
}
/* end of heading wrapper styles */

/* fractal noise background styles */
.noise{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    content: "";
    opacity: .08 !important;
    z-index: 1000 !important;
    pointer-events: none !important;
    mix-blend-mode: lighten;
    background: url(../img/noise.gif) !important;
    /* background-repeat: no-repeat !important; */
}
.fractal-noise-video{
    position: absolute !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    width: 80% !important; 
    z-index: 0; 
}
/* end of fractal noise background styles */

#src{
    opacity: 0 !important;
    font-family: "roc grotesk wide";
    font-size: 0px;
}

/* top right element */
.element-one{
    position: absolute !important;
    opacity: 1;
    right: 120px !important;
    z-index: 0 !important;
    width: 12% !important;
    top: 50px !important;
    animation: animationOne 3s linear infinite !important;
}
@keyframes animationOne {
    0%, 100%   {
        margin-top: 50px;
    }
    50% {
        margin-top: 70px;
    }
}

/* bottom left element */
.element-two{
    position: absolute !important;
    opacity: 1;
    left: 130px !important;
    z-index: 0 !important;
    width: 12% !important;
    bottom: 50px !important;
    transform: rotate(200deg) !important;
    animation: animationTwo 3s linear infinite !important;
}
@keyframes animationTwo {
    0%, 100%   {
        margin-bottom: 60px;
    }
    50% {
        margin-bottom: 80px;
    }
}

/* bottom right element */
.element-three{
    position: absolute !important;
    opacity: 1;
    right: 180px !important;
    z-index: 0 !important;
    width: 5% !important;
    bottom: 50px !important;
    animation: animationThree 3s linear infinite !important;
}
@keyframes animationThree {
    0%, 100%   {
        margin-bottom: 90px;
    }
    50% {
        margin-bottom: 110px;
    }
}

/* top left element */
.element-four{
    position: absolute !important;
    opacity: 1;
    left: 250px !important;
    z-index: 0 !important;
    width: 6% !important;
    bottom: 50px !important;
    animation: animationFour 3s linear infinite !important;
}
@keyframes animationFour {
    0%, 100%   {
        top: 120px;
    }
    50% {
        top: 140px;
    }
}

/* stylings for footer */
footer p {
    position: absolute;
    transform: translate(-50%) !important;
    left: 50%;
    bottom: 15px;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: white !important;
    text-transform: uppercase;
    background: none !important;
    width: 100% !important;
    text-align: center !important;
}
/* end of stylings for footer */

/* stylings for screens < 1200px -> includes elements */ 
@media only screen and (max-width: 1200px) {
    body{
        overflow-x: hidden !important;
    }
    
    .fractal-noise-video{
        position: absolute !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) !important;
        top: 50%;
        left: 50%;
        width: 100% !important;
        overflow: hidden;
    }
    .b-canvas{
        display: none !important;
    }
    #testing{
        display: block !important;
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        left: 50% !important;
        top: 50% !important;
        color: white !important;
        font-size: 65px !important;
        text-align: center !important;
        width: 100% !important;
        font-family: roc-grotesk-wide, sans-serif !important;
        font-weight: 400 !important;
    }

    /* top right icon */
    .element-one{
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        top: 20% !important;
        left: 50% !important;
        z-index: 0 !important;
        width: 20% !important;
        animation: animationOne 3s linear infinite !important;
    }
    /* bottom left icon */
    .element-two{
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        left: 40% !important;
        z-index: 0 !important;
        width: 20% !important;
        bottom: 10% !important;
        transform: rotate(200deg) !important;
        animation: animationTwo 3s linear infinite !important;
    }
    /* bottom right icon */
    .element-three{
        display: none !important;
        position: absolute !important;
        opacity: 1;
        right: 160px !important;
        z-index: 0 !important;
        width: 5% !important;
        bottom: 40vw !important;
        animation: animationThree 3s linear infinite !important;
    }
    /* top left icon */
    .element-four{
        display: none !important;
        position: absolute !important;
        opacity: 1;
        left: 170px !important;
        z-index: 0 !important;
        width: 6% !important;
        top: 50vw !important;
        animation: animationFour 3s linear infinite !important;
    }

}
/* end of stylings for screens < 600px */

/* stylings for screens < 768px */
@media only screen and (max-width: 768px){
    #testing{
        font-size: 45px !important;
    }
}
/* end of stylings for screens < 768px */

/* stylings for screens < 500px */
@media only screen and (max-width: 500px){
    #testing{
        font-size: 35px !important;
    }

    /* top right icon */
    .element-one{
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        top: 20% !important;
        left: 50% !important;
        z-index: 0 !important;
        width: 30% !important;
        animation: animationOne 3s linear infinite !important;
    }
    /* bottom left icon */
    .element-two{
        /* display: none !important; */
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        left: 35% !important;
        z-index: 0 !important;
        width: 30% !important;
        bottom: 10% !important;
        transform: rotate(200deg) !important;
        animation: animationTwo 3s linear infinite !important;
    }
}
/* end of stylings for screens < 500px */


/* elements for the landscape < 1200px */
@media (max-width: 1200px) and (orientation:landscape){
    .fractal-noise-video{
        position: absolute !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) !important;
        top: 50% !important;
        left: 50% !important;
        width: 60% !important; 
        z-index: 0; 
    }

    #testing{
        font-size: 45px !important;
    }

    /* top right icon */
    .element-one{
        display: none !important;
    }

    /* bottom left icon */
    .element-two{
        display: none !important;
    }

    /* bottom right icon */
    .element-three{
        display: none !important;
    }

    .element-four{
        display: none !important;
    }
}

/* elements for the landscape < 900px */
@media (max-width: 900px) and (orientation:landscape){
    .fractal-noise-video{
        position: absolute !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) !important;
        top: 50% !important;
        left: 50% !important;
        width: 60% !important; 
        z-index: 0; 
    }
}
