body{
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    position: relative !important;
    background-color: black !important;
}

.heading-wrapper{
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    text-align: center !important;
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}
h1{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 90px !important;
    opacity: 1 !important;
    position: relative !important;
    color: white !important;
    z-index: 1001 !important;
    text-align: center !important;
    cursor: default !important;
}

.noise{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    content: "";
    opacity: 0.3 !important;
    z-index: 1000 !important;
    pointer-events: none !important;
    background: url(../img/noise3.gif) !important;
}
.fractal-noise-video{
    position: absolute !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) !important;
    top: 50%;
    left: 50%;
    width: 80% !important;
    /* width: 100vw; */
}
#src{
    /* display: none; */
    opacity: 0 !important;
    font-family: "gghh";
    font-size: 0px;
}

@media only screen and (max-width: 600px) {
    .fractal-noise-video{
        position: absolute !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) !important;
        top: 50%;
        left: 50%;
        width: 100% !important;
        overflow: hidden;
    }
}

body + div[is-visible] {
    display: none !important;
  }